node_modules/
npm-debug.log
yarn-debug.log
pnpm-debug.log
package-lock.json

backend/src/config/config.js
frontend/src/config/config.js

/build
/public/build
coverage/
.pnp
.pnp.js
docker/postgres/data

.vscode/
.DS_Store

dump.rdb
*.rdb

Thumbs.db
ehthumbs.db
Desktop.ini

dist/
temp/
tmp/
.cache/

uploads/
logs/
*.log
